.navbar {
    height: 100%;
    width: 100%;
    padding: var(--mantine-spacing-md);
}

.link {
    color: inherit;
    padding: rem(5px) rem(12px);
    border-radius: var(--mantine-radius-sm);
    transition: 200ms;
    border: 1px solid transparent;
}
.link:hover {
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}
